[data-filter] {
  margin-bottom: 1rem;
  background-color: var(--color-main);
  box-shadow:
        0 -1rem 0 1rem var(--color-main),
        -46rem -1rem 0 1rem var(--color-main),
        46rem -1rem 0 1rem var(--color-main)
  ;
  text-align: center;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0 1rem 1rem;
    list-style: none;
    text-align: center;
    background-color: #f04;
    color: var(--color-bg);
    font-size: 0.75rem;
    line-height: 0.75rem;
    @media @mediaM {
      font-size: 1rem;
      line-height: 1rem;
    }
  }
  li {
    display: block;
    a.current {
      .color-scheme-dark & { color: white; }
    }
  }
  a {
    display: block;
    margin: 0 1px 1px 0;
    padding: 3px 6px;
    @media @mediaM { padding: 6px 12px; }
    box-shadow: 0 0 0 1px var(--color-bg);
    text-decoration: none;
    color: inherit;
    &.current{
      background-color: black;
    }
  }
}


  /*
  ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    box-shadow: 1px solid #000;
  }
  a {
    text-decoration:: none;
    color: #000;
  }
  */
