.content[data-pathname=blog] {
  @media @mediaM { transform: translateX(8.75rem); }
}
.content[data-pathname^=search] .link-list {
  @media @mediaM { transform: translateX(11.5rem); }
}

ul.link-list {
  margin-top: 0;
  li {
    display: block;
    margin-bottom: 1rem;
    &.sticky a {

      --color-sticky: color-mix(in hwb, var(--color-link), black 80%);
      --color-sticky-bg: color-mix(in hwb, var(--color-link), white 60%);
      .color-scheme-dark & {
        --color-sticky: color-mix(in hwb, var(--color-link), white 20%);
        --color-sticky-bg: color-mix(in hwb, var(--color-link), black 75%);
      }

      color: var(--color-sticky);
      background-color: var(--color-sticky-bg);
      box-shadow: -1.0625rem 0 0 var(--color-sticky-bg), 0.5rem 0 0 var(--color-sticky-bg);
      &:before { background-color: var(--color-sticky-bg); }
    }
  }

  a {
    position: relative;
    display: inline-block;

    --color-link-bg: color-mix(in hwb, var(--color-link), white 85%);
    .color-scheme-dark & { --color-link-bg: color-mix(in hwb, var(--color-link), black 85%); }

    color: color-mix(in hwb, var(--color-link), black 20%);
    background-color: var(--color-link-bg);
    text-decoration: none;
    box-shadow: -1.0625rem 0 0 var(--color-link-bg), 0.5rem 0 0 var(--color-link-bg);
    &:before {
      content: '';
      display: block;
      width: 100vw;
      height: 100%;
      position: absolute;
      left: calc(-1rem - 100vw);
      top: 0;
      z-index: -1;
      background-color: var(--color-link-bg);
      transform: rotate(calc(var(--scroll-part) * 45deg)) scaleY(calc(1 - 0.3 * var(--scroll-part)));
      transform-origin: bottom right;
    }
    svg {
      width: 1rem;
      height: 1rem;
      fill: currentColor;
    }
  }
}

.section-title {
  margin: 70px 0 50px;
  font-size: 60px;
  line-height: 100%;
  font-weight: 300;
  color: var(--color-text-header);
  text-transform: uppercase;
  text-align: center;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgba(84,121,121,.1);
    -webkit-transform: translateY(18px);
    transform: translateY(18px);
  }
  small {
    display: block;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 8px;
    text-indent: 4px;
  }
}
