body[data-pathname^=cv] {
  @media print {

    font-size: 11pt;
    line-height: 19pt;

    >header { // todo: all outside content now fails
      position: static;
      height: 8rem;
      h1 {
        transform: translateX(-50%) scale(0.75) translateY(-1rem);
      }
    }
    main {
      margin: 0 auto;
      max-width: fit-content;
      h1:after, h2:after, h3:after {
        box-shadow: none;
      }
    }
    header nav,
    [href$=".pdf"],
    footer {
      display: none;
    }
    small { font-size: 0.5rem; }
    .print-columns {
      display: flex;
      flex-wrap: wrap;
      >div {
        &:first-child {
          flex: 0 0 50%;
          padding-right: 1rem;
        }
        &:last-child {
          flex: 0 0 50%;
          padding-left: 1rem;
        }
      }
    }
    .cv-projects {
      //display: flex; // page-break rules fail with flex
      //flex-wrap: wrap;
      >li {
        width: 50%;
        float: left;
        //flex: 0 0 50%;
        page-break-inside: avoid;
        padding-top: 2rem;
        padding-bottom: 2rem;
        &:nth-child(2n-1) {
          clear: left;
        }
      }
    }
    ul.tags {

    }
  }
  small, dl {
    font-size: 0.875rem;
    color: #888;
  }
  dt:after { content: ': '; }
  dt, dd {
    display: inline;
    margin: 0;
  }

  [data-skill]  {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    small {
      font-size: 0.75rem;
    }
  }

}

.cv-projects {
  margin: 0;
  >li {
    position: relative;
    padding: 3rem 1rem;
    box-shadow: 0 -1px 0 #eee;
  }
  header {
    @colorHeadingBorder: #F4F4F4; // @colorMain
    position: relative;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 0.0625rem;
      background-color: @colorHeadingBorder;
      box-shadow:
          -30rem 0 0 0 @colorHeadingBorder, 30rem 0 0 0 @colorHeadingBorder
          ,-70rem 0 0 0 @colorHeadingBorder, 70rem 0 0 0 @colorHeadingBorder
      ;
    }
  }
  h3 {
    margin: 0;
    font-weight: 400;
    &:after { content: initial; }
  }
  h3, h3>a { color: #f04; }
  .date {
    position: absolute;
    right: 0;
    bottom: -0.8125rem;
    z-index: 2;
    line-height: 100%;
    @media @mediaM { bottom: -1.125rem; }
  }
  .tags {
    padding: 0;
    list-style: none;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #888;
    li {
      display: inline-block;
    }
  }
}

[data-skill] {
  .icon {
    width: 0.5rem;
    height: 0.5rem;
    fill: @colorMain;
    &:nth-child(n+5) {
      margin-right: 0.5rem;
    }
  }
  &[data-skill="4"] .icon:nth-child(n+5),
  &[data-skill="3"] .icon:nth-child(n+4),
  &[data-skill="2"] .icon:nth-child(n+3),
  &[data-skill="1"] .icon:nth-child(n+2) {
      fill: @colorGray;
  }
}

.skillsTable {

  --color-row: #F04;

  font-size: 0.75rem;
  line-height: 160%;
  menu {
    padding: 0;
  }
  table {
    border-spacing: 0;
    border-collapse: separate;
  }
  thead th {
    padding: 0 0.5rem;
  }
  tbody tr:nth-child(even) {
    --color-row: #E03;
    background-color: #EEE;
  }
  tr.hide {
    display: none;
  }
  th {
    font-weight: normal;
  }
  th, td {
    padding: 0;
  }
  thead {
    box-shadow: 0 0.0625rem 0 0 black;
  }
  tbody th:first-child {
    box-shadow: 0.0625rem 0 0 0 black;
  }
  th:first-child {
    text-align: left;
  }
  tbody td:not(:empty) {
    color: var(--color-row);
    background-color: var(--color-row);
  }
  input {
    width: 100%;
    margin: 0;
  }

  .currentSort:after {
    content: ' \25BC'; /* ▼ */
  }
  .currentSort.desc:after {
    content: ' \25B2'; /* ▲ */
  }
}
