@import 'variables';
@import 'iconfont';
@import 'syntax';

header nav a {
  transition: box-shadow 200ms linear;
  box-shadow: 0 0 0 @colorBlack inset;
  &:hover, &.current, &-parent.current {
    background-color: @colorMain;
    box-shadow: -100px 0 0 @colorBlack inset;
  }
}


@media @mediaM {
  main>pre {
    width: calc(100vw - 10px);
    margin-left: calc((768px - 100vw)/2);
    padding-left: calc((100vw - 768px)/2 + 2rem);
    .line-numbers-rows {
      left: calc((100vw - 768px)/2);
    }
    [data-language]:after {
      right: calc((100vw - 768px)/2);
    }
  }
}


footer .social a {
  color: #fff;
  background-color: transparent;
}

ul.unstyled, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

.hidden { display: none; }
.pull-right { float: right; }

// blog list
[data-pathname=blog] {
  ul.blog {
    //text-align: center;
    margin-top: 0;
    li {
      display: block;
      margin-bottom: 1rem;
    }
    @colorLink: #5AABE1;
    @colorLinkBg: lighten(#5AABE1,30%);
    a {
      position: relative;
      display: inline-block;
      color:  darken(#5AABE1,20%);
      background-color: @colorLinkBg;
      text-decoration: none;
      box-shadow: -1rem 0 0 @colorLinkBg, 0.5rem 0 0 @colorLinkBg;
      &:before {
        content: '';
        display: block;
        width: 100vw;
        height: 100%;
        position: absolute;
        left: calc(-1rem - 100vw);
        top: 0;
        background-color: #dbedf9;
        transform: rotate(calc(var(--scroll-part) * 45deg));
        transform-origin: bottom right;
      }
    }
  }
}


ul.page-list {
  margin-top: 0;
  li {
    display: block;
    margin-bottom: 1rem;
  }
  @colorLink: #5AABE1;
  @colorLinkBg: lighten(#5AABE1,30%);
  a {
    color:  darken(#5AABE1,20%);
    background-color: @colorLinkBg;
    text-decoration: none;
    box-shadow: -1rem 0 0 @colorLinkBg, 0.5rem 0 0 @colorLinkBg;
  }
}


[data-pathname=contact] {
  main {
    padding-top: 15vh;
    text-align: center;
  }
}

[data-pathname^=project] {
  main {
    padding: 0;
    overflow: hidden; // for dark-gray background color not hiding footer
  }
}
ul.projects {
  margin: 0;
  background-color: @colorDark;
  min-height: 100%;
  box-shadow: 0 100vh 0 100vh #333;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  li {
    position: relative;
    float: left;
    width: 100%/2;
    height: 100vw/8*3;
    @media @mediaS {
      width: 100%/3;
      height: 100vw/12*3;
    }
    @media @mediaM {
      width: 100%/4;
      height: 100vw/16*3;
    }
    @media @mediaL {
      width: 100%/5;
      height: 100vw/20*3;
    }
    @media @mediaXL {
      width: 100%/6;
      height: 100vw/24*3;
    }
    overflow: hidden;
    //background-size: 10000% 100%;
    background-size: cover;
    background-position: center;
    //&:nth-child(even){
    //  background-size: 100% 10000%;
    //}
  }
  a {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }
  a div {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: white;
    background: black;
  }
}
ul.project-category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 1rem;
  text-align: center;
  background-color: #f04;
  color: white;
  font-size: 0.75rem;
  line-height: 0.75rem;
  @media @mediaM {
    font-size: 1rem;
    line-height: 1rem;
  }
  li {
    display: block;
  }
  a {
    display: block;
    margin: 0 1px 1px 0;
    padding: 3px 6px;
    //padding: 0.1875rem 0.375rem;
    @media @mediaM { padding: 6px 12px; }
    box-shadow: 0 0 0 1px white;
    text-decoration: none;
    color: white;
    &.current{
      background-color: black;
    }
  }
}
.project{
  margin: 0;
  padding: 0;
  .text {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 1rem 1rem;
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 45vh;
    clear: both;
    background: #f04 linear-gradient(0deg,#f04,black);
  }
  h2 {
    font-weight: 400;
    color: #f04;
  }
  .img {
    //background-position: center;
    background-position: calc(30% + 40% * var(--scroll-part)) center;
    background-size: 10000% 100%;
    background-color: @colorDark;
    border-top: 1px solid #f04;
    overflow: hidden;
    transition: background-position 300ms ease;
    //&:hover { background-position: 60% center; }
    &.portrait {
      width: 50%;
      float: left;
      box-shadow: -1px 0 0 #f04, 1px 0 0 #f04;
      img {
        float: right;
        max-width: 384px;
      }
      + .img.portrait img { float: left; }
      + .img.portrait + .img.portrait img { float: right; }
      + .img.portrait + .img.portrait + .img.portrait img { float: left; }
    }
    img{
      display: block;
      width: 100%;
      max-width: 768px;
      margin: 0 auto;
      padding: 0;
      box-shadow: 0 0 10rem 5rem @colorBlack;
    }
  }
}

.date {
  padding-top: 0.5rem;
  display: inline-block;
  float: right;
  color: #f04;
  &-from, &-to {
    display: block;
  }
}

[data-pathname^=cv] {}
.cv-projects {
  margin: 0;
  h3 { margin-top: 0; }
  h3, h3>a { color: #f04; }
  >li {
    padding: 1rem;
    box-shadow: 0 -1px 0 #f04;
  }
  .tags {
    padding: 0;
    list-style: none;
    font-size: 0.75rem;
    color: #666;
    font-size: 0.75rem;
    color: #666;
    li {
      display: inline-block;
    }
  }
}

.experiment-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

time {
  font-size: 0.75rem;
  font-weight: 600;
}

img, svg {
  max-width: 100%;
}

[class^='skill-'] {
  vertical-align: top;
  position: relative;
  padding-left: 6*8px;
  &:after,&:before {
    //.lt(0,10px);
    position: absolute;
    left: 0;
    top: 0.5rem;
    .rv-icon;
    font-size: 8px;
    display: inline-block;
    color: @colorMain;
  }
  &:before {
    content: @rv-star@rv-star@rv-star@rv-star@rv-star;
    color: @colorGray;
  }
  &.skill-5:after { content: @rv-star@rv-star@rv-star@rv-star@rv-star; }
  &.skill-4:after { content: @rv-star@rv-star@rv-star@rv-star; }
  &.skill-3:after { content: @rv-star@rv-star@rv-star; }
  &.skill-2:after { content: @rv-star@rv-star; }
  &.skill-1:after { content: @rv-star; }
}

.page404{
  font-size: 8rem;
  text-align: center;
  font-weight: 600;
  color: #f04;
  transform: scale(2);
}
