@import 'variables';
//@import 'iconfont';
@import 'syntax';
//@import 'js/**/*.less';
@import 'glob';

@import (css) url(//fonts.googleapis.com/css?family=Source+Code+Pro:200,400,600|Istok+Web:400,700,400italic,700italic&display=swap);

.anchor {
  display: inline;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  line-height: inherit;
  font: inherit;
  color: var(--color-link);
  cursor: pointer;
  text-decoration: underline;
  border: 0;
  vertical-align: top;
}

button, input {
  border: 0;
  background: #fff;
  vertical-align: middle;
  line-height: 100%;
}

textarea {
  color: var(--color-text);
  border: 0px;
  background-color: var(--color-bg);
  box-shadow: 
    0 0 0 1px var(--color-input-border) inset,
    0.5rem 0.25rem 1rem 1px var(--color-input-border) inset
  ;
}

.btn {
  display: inline-block;
  margin-top: 0.25rem;
  padding: 0.125rem 0.5rem;
  border: 1px solid var(--color-main);
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: transparent;
  color: var(--color-link);
  line-height: 100%;
  font-size: inherit;
  font-family: inherit;
}

details {
  font-size: inherit;
  font-family: inherit;
}
summary {
  color: var(--color-link);
}

main {
  >.content {
    &--past {
      position: absolute;
      left: 50%;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateX(-50%);
    }
    &--animate-out, &--animate-in {
      background-size: 100vw 100vh;
    }
    &--animate-out-start, &--animate-in-start {
      transition: clip-path 500ms ease-in-out, opacity 500ms linear;
    }
    &--animate-out {        clip-path: polygon(0vw 0vh, 100vw 0vh, 200vw 100vh, 0vw 100vh);       opacity: 1; }
    &--animate-out-start {  clip-path: polygon(-200vw 0vh, -100vw 0vh, 0vw 100vh, -200vw 100vh);  opacity: 0; }
    &--animate-in {         clip-path: polygon(100vw 0vh, 300vw 0vh, 300vw 100vh, 300vw 100vh);   opacity: 0; }
    &--animate-in-start {   clip-path: polygon(-100vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);    opacity: 1; }
    >h1 {
      margin-top: 0;
    }
    >pre {
      max-height: 100vh;
      @media @mediaM {
        width: calc(100vw - 10px);
        margin-left: calc((768px - 100vw)/2);
        padding-left: calc((100vw - 768px)/2 + 2rem);
        .line-numbers-rows {
          left: calc((100vw - 768px)/2);
        }
        /*[data-language]:after {
          right: calc((100vw - 768px)/2);
        }*/
      }
    }

  }
  .search {
    max-width: 20rem;
    margin: 0 auto 1rem;
  }
}

del {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="220px" height="30px" viewBox="0 0 220 30" xml:space="preserve"><path d="m220,12l-6,10l-7,-18c-9,2 -11,15 -14,21c-2,-0 -10,-13 -9,-19l0,0c-9,2 -13,16 -15,20l-10,-14c-4,-16 -11,10 -12,13l-10,-21c-10,3 -12,24 -16,17l-7,-18c-3,-2 -9,14 -11,18c-0,-10 -4,-13 -5,-15c-7,6 -13,11 -16,20l-5,-18l-10,15l0,0c-1,-5 -1,-12 -5,-13l-10,15c-2,-8 -1,-16 -2,-18c-3,3 -6,3 -8,13c-2,10 -6,-17 -12,5c-2,-12 -17,-24 -18,1l-4,-15l-6,3" fill="none" stroke-width="2" stroke="gray"/></svg>') repeat-x 0;
}

footer {
  color: var(--color-main-text);
  .social a {
    color: inherit;
    background-color: transparent;
  }
}

ul.unstyled, .list-unstyled {
  padding-left: 0;
  list-style: none;
}

.hidden { display: none; }
.pull-right { float: right; }

.date {
  padding-top: 0.5rem;
  display: inline-block;
  float: right;
  color: #f04;
  &-from, &-to {
    display: block;
  }
}

hr {
  border: 0;
  height: 5px;
  background-color: var(--color-border);
  box-shadow: -30rem 0 0 0 var(--color-border), 30rem 0 0 0 var(--color-border), -70rem 0 0 0 var(--color-border), 70rem 0 0 0 var(--color-border);
}

time {
  font-family: var(--font-name-heading);
  font-size: 0.75rem;
  font-weight: 600;
}

img, svg {
  max-width: 100%;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
  vertical-align: middle;
}

.visually-hidden:not(:focus):not(:active) {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
}

.no-result { text-align: center; }

.flex { display: flex; }
.flex, .flexM { justify-content: space-between; }
@media @mediaM { .flexM { display: flex; } }
.flex, .flexM {
  >*:first-child { margin-top: 0; }
}

del[data-href]:hover {
  //color: red;
  position: relative;
  &:after {
    content: attr(data-href);
    position: absolute;
    left: 10%;
    top: 70%;
    display: block;
    padding: 0.0125rem 0.5rem!important;
    background-color: color-mix(in hwb, var(--color-bg), var(--color-text) 30%);
    font-size: 0.8125rem;
    box-shadow: 0 0 1rem rgba(var(--color-link),0.3);
  }
}

.content .notice {
  padding: 1rem 0;
  background-color: var(--color-notice);
  box-shadow: -50vw 0 0 var(--color-notice), 50vw 0 0 var(--color-notice);
}

code {
  white-space: word-wrap;
}


