
@mediaS: ~' (min-width: 420px)';
@mediaM: ~' (min-width: 768px)';
@mediaL: ~' (min-width: 1200px)';
@mediaXL: ~' (min-width: 1600px)';

@colorWhite: #FFF;
@colorBlack: #000;
@colorMain: #F04;
@colorNotice: #FD0;
@colorLink: #5AABE1; // #3baeff;
@colorLinkL30: lighten(@colorLink,30%);
@colorDark: #333;
@colorGray: #C0C9C4;
@colorGrayLight: #E7ECE9;
@colorGrayLighter: #F4F4F4;


:root {
  --gold-s: 38.2%;
  --gold-l: calc(100% - var(--gold-s));
}

@goldS: var(--gold-s);
@goldL: var(--gold-l);


@fontNameHeading: 'Source Code Pro', monospace;
@fontNameBody: 'Istok Web', sans-serif;
@fontNameCode: 'Source Code Pro', monospace;
