@mediaS: ~' (min-width: 420px)';
@mediaM: ~' (min-width: 768px)';
@mediaL: ~' (min-width: 1200px)';
@mediaXL: ~' (min-width: 1600px)';

:root {
  --gold-s: 38.2%;
  --gold-l: calc(100% - var(--gold-s));
}

@goldS: var(--gold-s);
@goldL: var(--gold-l);

@fontNameHeading: 'Source Code Pro', monospace;
@fontNameBody: 'Istok Web', sans-serif;
@fontNameCode: 'Source Code Pro', monospace;
